*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/

buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/

buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/
